<a href="https://colab.research.google.com/github/sspsaun/data-camp/blob/main/foundation_datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data type
ชนิดของข้อมูลที่นำมาใช้มีอยู่ 4 ประเภทหลัก ๆ

## 1.String (str)
เก็บข้อมูลประเภทข้อความ หรือ ประโยค  
โดยจะถูกครอบด้วยเครื่องหมาย ' ' (single quote) หรือ " " (double quote)

In [ ]:
'Hello World' #str

"Hello World" #str

'Hello World"

## 2.Integer (int)
เก็บข้อมูลเลขจำนวนเต็ม ทั้งจำนวนเต็มบวก จำนวนเต็มลบ หรือจำนวนเต็มศูนย์

In [ ]:
123 #int

"123" #str

123 ≠ "123"

## 3.Float
เก็บข้อมูลที่เป็นเลขทศนิยม

In [ ]:
123.00 #float

123 #int

123.00 ≠ 123

## 4.Boolean (bool)
เก็บข้อมูลประเภทค่าความจริง  
โดยมีเพียง 2 ค่า คือ True (จริง) และ False (ไม่จริง)

In [ ]:
True #bool

False #bool

"True" #str

True ≠ "True"

สามารถใช้ฟังก์ชัน bool() เพื่อตรวจสอบตัวแปรหรือค่าต่าง ๆ  
โดยข้อมูลเกือบทั้งหมดจะมีค่าเป็น True

In [ ]:
"""ข้อมูลที่มีค่าเป็น False มีดังนี้"""

bool("") #string ว่าง

bool(0) #เลข 0

bool(()) #tuple ว่าง

bool([]) #list ว่าง

bool({}) #dict หรือ set ว่าง

bool(False)

ิbool(None)

# Variable
ตัวแปรที่ใช้สำหรับเก็บค่าของข้อมูลเพื่อนำไปใช้งานในส่วนต่าง ๆ ของโปรแกรม  
โดยหลักการในการตั้งชื่อตัวแปรมีดังนี้  
1. ควรตั้งชื่อให้มีความหมาย
2. อักษรพิมพ์ใหญ่-พิมพ์เล็กจะมีความหมายไม่เหมือนกัน (case-sensitive)
3. ห้ามเว้นช่องว่าง (ให้ใช้ Underscore ( _ ) ในการเว้นช่องว่างแทน)
4. ไม่มีอักขระพิเศษ ยกเว้น Underscore ( _ )
5. ไม่ขึ้นต้นด้วยตัวเลข
6. ห้ามซ้ำกับคำสงวน

In [ ]:
"""ตัวอย่างการเก็บข้อมูลประเภทต่าง ๆ ไว้ในตัวแปร"""

name = "Thor Odinson" #str

age = 1500 #int

account_balance = 1107.45 #float

handsome = True #bool

In [ ]:
#case-sensitive

name = "Thor"

nAmE = "Odinson"

print("name :", name)

print("nAmE :", nAmE)

name : Thor
nAmE : Odinson

In [ ]:
#ห้ามเว้นช่องว่าง

my name = "Thor Odinson" #SyntaxError

my_name = "Thor Odinson"

In [ ]:
#ไม่มีอักขระพิเศษ

my-name = "Thor Odinson" #SyntaxError

my&name = "Thor Odinson" #SyntaxError

my*name = "Thor Odinson" #SyntaxError

In [ ]:
#ไม่ขึ้นต้นด้วยตัวเลข

1234 = "Thor Odinson" #SyntaxError

2name = "Thor Odinson" #SyntaxError

In [ ]:
#ห้ามซ้ำกับคำสงวน

for = "Thor Odinson" #SyntaxError

def = "Thor Odinson" #SyntaxError

## link คำสงวน
[https://www.programiz.com/python-programming/keyword-list](https://www.programiz.com/python-programming/keyword-list)

# Input
การรับค่าจาก User โดยตามปกติแล้วค่าที่รับเข้ามาในฟังก์ชัน input() จะมีค่าของข้อมูลเป็น string

In [ ]:
eg_str = input() #รับค่าเป็น string

1234

สามารถใช้ฟังก์ชัน type() เพื่อตรวจสอบประเภทของข้อมูลได้

In [ ]:
print(type(eg_str))

<class 'str'>

หากต้องการรับค่า int หรือ float ให้ใส่คำสั่งนั้นครอบฟังก์ชัน input() ได้เลย

In [ ]:
eg_int = int(input()) #รับค่าเป็น integer

print(type(eg_int))

1234
<class 'int'>

In [ ]:
eg_float = float(input()) #รับค่าเป็น float

print(eg_float)

print(type(eg_float))

3
3.0
<class 'float'>

# Output
การแสดงผลข้อความ ตัวเลข หรือตัวแปรต่าง ๆ โดยใช้ฟังก์ชัน print()

In [ ]:
print("Hello World") #แสดงข้อความ

Hello World

In [ ]:
fname = "Thor"
lname = "Odinson"
age = 1500

In [ ]:
print(fname) #แสดงค่าของตัวแปร

Thor

In [ ]:
print(fname, lname, age) #แสดงค่าของตัวแปรที่มากกว่า 1 ค่า

Thor Odinson 1500

In [ ]:
print(fname, lname, age, sep="-") #ใส่พารามิเตอร์ sep="" เพื่อกำหนดค่าระหว่างช่องว่าง

Thor-Odinson-1500

In [ ]:
print(fname, end="") #ใส่พารามิเตอร์ end="" เพื่อกำหนดค่าตัวสุดท้าย
print(lname)

ThorOdinson

In [ ]:
print(fname + lname) #นำ string มาต่อกันโดยใช้เครื่องหมาย +

ThorOdinson

In [ ]:
print("Hello"+"World")

HelloWorld

In [ ]:
print(fname + age) #TypeError

TypeError: ignored

In [ ]:
print(fname + str(age))

Thor1500

# String Slicing
การเข้าถึงข้อมูลใน string โดยการระบุตำแหน่ง (index) ซึ่งจะเริ่มที่ตำแหน่ง 0  
โดยสามารถใส่ argument ได้ดังนี้ value[start:stop:step]  
* start คือ เริ่มที่ตำแหน่งไหน (ค่า default คือ 0)  
* stop คือ ตำแหน่งที่จะหยุด (ค่า default คือ None) 
* step คือ การระบุว่าจะให้ตำแหน่งเพิ่มขึ้นเท่าใด (ค่า default คือ 1)

In [ ]:
x = "Datavergent"

In [ ]:
print(x[0])

D

In [ ]:
print(x[0:5]) #เอาตำแหน่งที่ 0, 1, 2, 3, 4 (ตำแหน่งที่ 5 เป็นตัวหยุดจึงไม่เอา)

Datav

In [ ]:
print(x[0::2]) #เอาตำแหน่งที่ 0, 2, 4, 6, 8, 10

Dtvret

In [ ]:
print(x[::-1]) #เอาตำแหน่งจากหลังสุดมาหน้าสุด

tnegrevataD

# List
ชนิดของข้อมูลที่ใช้ในการเก็บข้อมูลหลาย ๆ ค่ามาไว้ในตัวแปรเดียว  
* ประกาศตัวแปรประเภท list ได้โดยการใช้ฟังก์ชัน list( ) หรือ [ ]

In [ ]:
mylist = ["a","b","c"]
#or
mylist = list(("a","b","c"))

* list สามารถเก็บข้อมูลได้หลายประเภท และยังสามารถเก็บ list ข้างใน list ได้อีกด้วย

In [ ]:
mylist = [11, "IT", 14.07, [True, "KMITL"], 3]

* เราเข้าถึงตำแหน่งใน list ได้โดยการระบุตำแหน่ง (index)

In [ ]:
#print(mylist[0]) 
#print(mylist[:2])
#print(mylist[-1])
#print(mylist[0::2])

[11, 'IT']

* เราสามารถแก้ไขข้อมูลใน list ได้

In [ ]:
colors = ["red","green","blue","yellow","orange","black","white","pink"]

print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'black', 'white', 'pink']

In [ ]:
colors[2] = "pink" #แก้ไขข้อมูล index ที่ 2 จาก blue เป็น pink

print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink']

**List Method**
* **append** คือ การเพิ่มข้อมูลเข้ามาต่อที่ตำแหน่งสุดท้ายของ list

In [ ]:
print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink']

In [ ]:
colors.append("purple")

print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

* **insert** คือ การแทรกค่าเข้าสู่ list ในตำแหน่งที่ระบุไว้

In [ ]:
lst.insert(index, value)
#index คือ ตำแหน่งที่จะทำการแทรก
#value คือ ค่าที่ต้องการจะแทรก

In [ ]:
print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

In [ ]:
colors.insert(1, "brown")

print(colors)

['red', 'brown', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

*  **remove** คือ การลบค่าที่กำหนดออกจาก list

In [ ]:
lst.remove(value)
#value คือ ค่าที่เราต้องการจะลบ

In [ ]:
print(colors)

['red', 'brown', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

In [ ]:
colors.remove("brown")

print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

*  ถ้ามีค่าที่จะลบออกหลายค่า จะลบออกแค่ตัวเดียวจากตำแหน่งแรกที่พบนับจากซ้ายมือ

In [ ]:
print(colors)

['red', 'green', 'pink', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

In [ ]:
colors.remove("pink")

print(colors)

['red', 'green', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

*  **pop** คือ การลบค่าที่กำหนดออกจาก list แต่จะมีการ return ค่าที่ลบออกมาด้วย

In [ ]:
lst.pop(index)
#index คือ ตำแหน่งที่ต้องการจะลบ

In [ ]:
num = [1,2,3,4,5]

num.pop(3)

print(num)

[1, 2, 3, 5]

In [ ]:
num.pop() #ถ้าไม่ระบุ index มันจะ pop ตัวสุดท้ายออก

print(num)

[1, 2, 3]

เราสามารถ pop ข้อมูลมาเก็บไว้ในตัวแปรได้

In [ ]:
num = [123,456,789]

numnum = num.pop(1) #pop ค่าในตัวแปร num มาเก็บไว้ในตัวแปร numnum

print("num :",num) 

print("numnum :",numnum)

num : [123, 789]
numnum : 456

In [ ]:
print(colors)

['red', 'green', 'yellow', 'orange', 'black', 'white', 'pink', 'purple']

# Dictionary (Dict)
ชนิดของข้อมูลที่ใช้เก็บข้อมูลในรูปแบบของ Key และ Value  
โดยที่
* Key ใช้สำหรับเป็น Index ในการเข้าถึงข้อมูล  
* Value เป็นค่าใน key ซึ่งเป็นข้อมูลอะไรก็ได้ ไม่ว่าจะ str, int, float หรือ list

In [ ]:
mydict = {"Noon": 1234,
          "Bank": 5678,
          "Win": 9876,
          "Sui" : 5432
          }

In [ ]:
print(mydict["Bank"])

5678

In [ ]:
mydict["Noon"] = "ปวดหลัง" #เปลี่ยน value ใน key

print(mydict)

{'Noon': 'ปวดหลัง', 'Bank': 5678, 'Win': 9876, 'Sui': 5432}

**Dict Method**
* **keys** ใช้ดึง key ทั้งหมดใน Dictionary ออกมา

In [ ]:
print(mydict.keys())

dict_keys(['Noon', 'Bank', 'Win', 'Sui'])

* **values** ใช้ดึง value ทั้งหมดใน Dictionary ออกมา

In [ ]:
print(mydict.values())

dict_values(['ปวดหลัง', 5678, 9876, 5432])

* **items** ใช้ดึงทั้ง key และ value ทั้งหมดใน Dictionary ออกมา

In [ ]:
print(mydict.items())

dict_items([('Noon', 'ปวดหลัง'), ('Bank', 5678), ('Win', 9876), ('Sui', 5432)])

* **get** จะ return ค่าในคีย์ของ Dictionary ที่ต้องการ

In [ ]:
print(mydict.get("Win"))

9876

* **update** ใช้เปลี่ยนแปลง value ใน key หรือ เพิ่ม key และ value ของ Dictionary ที่ต้องการ

In [ ]:
mydict.update({"Bank":"ปวดหัว"}) #เปลี่ยน value ใน key Bank

mydict.update({"Aun": "ปวดคอ"}) #เพิ่ม key และ value ใหม่เข้าไปใน dict

print(mydict)

{'Noon': 'ปวดหลัง', 'Bank': 'ปวดหัว', 'Win': 9876, 'Sui': 5432, 'Aun': 'ปวดคอ'}

* **pop** ใช้ดึงค่าข้อมูลใน key ที่ต้องการเอาออก

In [ ]:
mydict.pop("Aun")

print(mydict)

{'Noon': 'ปวดหลัง', 'Bank': 'ปวดหัว', 'Win': 9876, 'Sui': 5432}

# Arithmetic Operators
ตัวดำเนินการทางคณิตศาสตร์ ได้แก่
*   ( ) วงเล็บ
*   ** ยกกำลัง
*   \* คูณ
*   / หาร
*   // หารไม่เอาเศษ (Floor Division)
*   % หารเอาแต่เศษ (Modulus)
*   \+ บวก
*   \- ลบ

In [ ]:
26 + 4

#operand (ตัวที่ถูกกระทำ) คือ 26 และ 4
#operator (ตัวกระทำ) คือ +

เราสามารถใช้เครื่องหมาย + ในการรวม string เข้าด้วยกันได้

In [ ]:
print("IT"+"CAMP")

ITCAMP

และยังสามารถใช้เครื่องหมาย * ระหว่าง string และ int ได้

In [ ]:
print("จงทำดี"*3)

จงทำดีจงทำดีจงทำดี

# PEMDAS
ลำดับขั้นการดำเนินการทางคณิตศาสตร์
โดยจะเรียงลำดับความสำคัญดังนี้
1.   วงเล็บ ( )
2.   ยกกำลัง **
3.   คูณ ( * ) หาร ( / ) หารไม่เอาเศษ ( // ) หารเอาแต่เศษ ( % )
4.   บวก ( + ) ลบ ( - )

**\* จะทำจากซ้ายไปขวาเสมอ \***

In [ ]:
#ตัวอย่าง
(2 ** 2 * 2 + (5 - 3) ** 4 // 6 % 3 + (3 ** 2 + 1) % (4 - 1)) * (2 ** 0)

= (2 ** 2 * 2 + 2 ** 4 // 6 % 3 + (9 + 1) % 3) * 1

= (2 ** 2 * 2 + 2 ** 4 // 6 % 3 + 10 % 3) * 1

= (4 * 2 + 16 // 6 % 3 + 10 % 3) * 1

= (8 + 2 % 3 + 1) * 1

= (8 + 2 + 1) * 1

= 11 * 1

= 11

In [ ]:
print((2 ** 2 * 2 + (5 - 3) ** 4 // 6 % 3 + (3 ** 2 + 1) % (4 - 1)) * (2 ** 0))